
<table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Age</th>
              <th>Profession</th>
              <th>contact</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{name}}</td>
              <td>{{age}}</td>
              <td>{{Profession}}</td>
              <td>{{contact}}</td>
              <td>{{email}}</td>
            </tr>
           
          </tbody>
        </table>